		<section class="content-footer">
		    <div class="text-center">
		        © 2017All Rights Reserved. XieHaiTao
		    </div>
		</section><!-- /.content-footer -->
    </aside><!-- /.right-side -->
</body>
</html>